.div-table {
	display: table;
	width: 100%;
	background-color: #eee;
	border: 1px solid #666666;
	border-spacing: 1px;
    margin-top: 10px;
}
.tr {
    display: table-row;
}
.th{
    display:table-cell;
    vertical-align:top;
    background-color: #666666;
    padding:5px 10px;
    font-weight: 700;
    text-align: left;
}
.td{
    display:table-cell;
    text-align: left;
    background-color: lightgray;
    padding:5px 10px; 
}
